#    MODULE 0 - INTRODUCTION

# --- EXPLORE THE DATA -------------------------------------

In [ ]:
# Load text file into local variable called 'data'
data = read.delim(file = 'purchases.txt', header = FALSE, sep = '\t', dec = '.')

In [ ]:
# Display what has been loaded
head(data)
summary(data)

In [ ]:
# Add headers and interpret the last column as a date, extract year of purchase
colnames(data) = c('customer_id', 'purchase_amount', 'date_of_purchase')
data$date_of_purchase = as.Date(data$date_of_purchase, "%Y-%m-%d")
data$year_of_purchase = as.numeric(format(data$date_of_purchase, "%Y"))

In [ ]:
# Display the data set after transformation
head(data)
summary(data)

In [ ]:
# Explore the data using simple SQL statements
library(sqldf)

In [ ]:
# Number of purchases per year
x = sqldf("SELECT year_of_purchase, COUNT(year_of_purchase) AS 'counter' FROM data GROUP BY 1 ORDER BY 1")
barplot(x$counter, names.arg = x$year_of_purchase)

In [ ]:
# Average purchase amount per year
x = sqldf("SELECT year_of_purchase, AVG(purchase_amount) AS 'avg_amount' FROM data GROUP BY 1 ORDER BY 1")
barplot(x$avg_amount, names.arg = x$year_of_purchase)

In [ ]:
# Total purchase amounts per year
x = sqldf("SELECT year_of_purchase, SUM(purchase_amount) AS 'sum_amount' FROM data GROUP BY 1 ORDER BY 1")
barplot(x$sum_amount, names.arg = x$year_of_purchase)

In [ ]:
# All in one
x = sqldf("SELECT year_of_purchase,
                  COUNT(year_of_purchase) AS 'counter',
                  AVG(purchase_amount) AS 'avg_amount',
                  SUM(purchase_amount) AS 'sum_amount'
           FROM data GROUP BY 1 ORDER BY 1")
print(x)

#    MODULE 1 - STATISTICAL SEGMENTATION

In [ ]:
# Load text file into local variable called 'data'
data = read.delim(file = 'purchases.txt', header = FALSE, sep = '\t', dec = '.')

In [ ]:
# Add headers and interpret the last column as a date, extract year of purchase
colnames(data) = c('customer_id', 'purchase_amount', 'date_of_purchase')
data$date_of_purchase = as.Date(data$date_of_purchase, "%Y-%m-%d")
data$days_since       = as.numeric(difftime(time1 = "2016-01-01",
                                            time2 = data$date_of_purchase,
                                            units = "days"))

In [ ]:
# Display the data after transformation
head(data)
summary(data)

In [ ]:
# Compute key marketing indicators using SQL language
library(sqldf)

In [ ]:
# Compute recency, frequency, and average purchase amount
customers = sqldf("SELECT customer_id,
                          MIN(days_since) AS 'recency',
                          COUNT(*) AS 'frequency',
                          AVG(purchase_amount) AS 'amount'
                   FROM data GROUP BY 1")

In [ ]:
# Explore the data
head(customers)
summary(customers)
hist(customers$recency)
hist(customers$frequency)
hist(customers$amount)
hist(customers$amount, breaks = 100)

# --- PREPARING AND TRANSFORMING DATA ----------------------

In [ ]:
# Copy customer data into new data frame
new_data = customers

In [ ]:
# Remove customer id as a variable, store it as row names
head(new_data)
row.names(new_data) = new_data$customer_id
new_data$customer_id = NULL
head(new_data)

In [ ]:
# Take the log-transform of the amount, and plot
new_data$amount = log(new_data$amount)
hist(new_data$amount)

In [ ]:
# Standardize variables
new_data = scale(new_data)
head(new_data)

# --- RUNNING A HIERARCHICAL SEGMENTATION ------------------

In [ ]:
# Compute distance metrics on standardized data
# This will likely generate an error on most machines
# d = dist(new_data)

In [ ]:
# Take a 10% sample
sample = seq(1, 18417, by = 10)
head(sample)
customers_sample = customers[sample, ]
new_data_sample  = new_data[sample, ]

In [ ]:
# Compute distance metrics on standardized data
d = dist(new_data_sample)

In [ ]:
# Perform hierarchical clustering on distance metrics
c = hclust(d, method="ward.D2")

In [ ]:
# Plot de dendogram
plot(c)

In [ ]:
# Cut at 9 segments
members = cutree(c, k = 9)

In [ ]:
# Show 30 first customers, frequency table
members[1:30]
table(members)

In [ ]:
# Show profile of each segment
aggregate(customers_sample[, 2:4], by = list(members), mean)

#    MODULE 2 - MANAGERIAL SEGMENTATION

# --- COMPUTING RECENCY, FREQUENCY, MONETARY VALUE ---------

In [ ]:
# Load text file into local variable called 'data'
data = read.delim(file = 'purchases.txt', header = FALSE, sep = '\t', dec = '.')

In [ ]:
# Add headers and interpret the last column as a date, extract year of purchase
colnames(data) = c('customer_id', 'purchase_amount', 'date_of_purchase')
data$date_of_purchase = as.Date(data$date_of_purchase, "%Y-%m-%d")
data$year_of_purchase = as.numeric(format(data$date_of_purchase, "%Y"))
data$days_since       = as.numeric(difftime(time1 = "2016-01-01",
                                            time2 = data$date_of_purchase,
                                            units = "days"))

In [ ]:
# Display the data after transformation
head(data)
summary(data)

In [ ]:
# Compute key marketing indicators using SQL language
library(sqldf)

In [ ]:
# Compute recency, frequency, and average purchase amount
customers_2015 = sqldf("SELECT customer_id,
                               MIN(days_since) AS 'recency',
                               MAX(days_since) AS 'first_purchase',
                               COUNT(*) AS 'frequency',
                               AVG(purchase_amount) AS 'amount'
                        FROM data GROUP BY 1")

In [ ]:
# Explore the data
head(customers_2015)
summary(customers_2015)
hist(customers_2015$recency)
hist(customers_2015$frequency)
hist(customers_2015$amount)
hist(customers_2015$amount, breaks = 100)